DATABASE_URL=postgresql://neondb_owner:npg_yZhFQgbPc50I@ep-sweet-water-aph1j617.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=supersecretjwtkey
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=your-brevo-smtp-key
EMAIL_PASS=your-brevo-api-key
SMS_API_KEY=
SMS_USERNAME=
REDIS_URL=redis://localhost:6379
PORT=4000
