MONGO_URI=mongodb+srv://talex_db:GUU2U5pr6N0cxJUv@talex.1z5lyom.mongodb.net/?appName=Talex
DATABASE_URL=postgresql://postgres:password@localhost:5432/mydb
JWT_SECRET=supersecretjwtkey
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
CLOUDINARY_CLOUD_NAME=dindyruua
CLOUDINARY_API_KEY=447358261821916
CLOUDINARY_API_SECRET=Wq_Cb__-yVHwjopjgrXtbm4lNo0
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=your-brevo-smtp-key
EMAIL_PASS=your-brevo-api-key
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=africatalex@gmail.com
SENDER_EMAIL=africatalex@gmail.com
BREVO_SENDER_NAME=Talex Jobs
SMS_API_KEY=
SMS_USERNAME=
REDIS_URL=redis://localhost:6379
PORT=4000
